.main__top-news{
    padding-top: 0px;
}
.main__category-title-name{
    margin-right: 9px;
}
.main__hot-news-aside{
    width: 243px;
}
.main__category-page-new-listing{
    margin-bottom: 30px;
}
.main__hc-news-title{
    font: 500 16px/22px RobotoM;
}
h3 a.main__category-title-name{
    line-height: 25px;
}