.mb-25{
    margin-bottom: 25px;
}
.main__detail-blog {
  padding-top: 20px;
}
.main__detail-blog-title {
  font: 700 28px/36px NSB;
  color: #121212;
  margin-bottom: 14px;
}
.main__detail-blog-meta {
  margin-bottom: 12px;
}
.main__detail-blog-meta a {
  margin: 4px 12px 4px 0px;
}
.main__post-time {
  font: 400 13px/24px Roboto;
  margin-left: 5px;
}
.main__detail-blog-icon {
  margin-top: 4px;
}
.main__detail-blog-summary {
  font: 500 19px/27px RobotoM;
  color: #333333;
  margin-bottom: 15px;
}
.main__detail-blog-share {
  margin-bottom: 24px;
}
.main__detail-blog-share .main__btn-share:first-child {
  margin-right: 15px;
}
.main__btn-share {
  padding: 2px 12px;
  border-radius: 3px;
  font: 700 13px/16px SFB;
  color: #ffffff;
  background-color: #1878f3;
}
.main__detail-blog-share a:first-child i{
  font-size: 11px;
}
.main__detail-blog-share a:last-child i{
  font-size: 14px;
}
.main__detail-blog-share a i{
  margin-right: 7px;
}
.main__btn-share-icon {
  margin-right: 7px;
}
.main__detail-blog-related {
  padding: 16px 0px;
  border-top: 1px dotted #454545;
  border-bottom: 1px dotted #454545;
}
.main__detail-blog-related ol li:not(:last-child) {
  margin-bottom: 12px;
}
.main__detail-blog-related ol li a {
  font: 700 16px/22px RobotoB;
  color: #454545;
}
.main__detail-blog-related ol li a::before {
  content: "";
  height: 6px;
  width: 6px;
  border-radius: 50%;
  margin-right: 8px;
  background-color: #1878f3;
}
.main__detail-blog-content p {
  font: 400 17px/30px NSR;
}
.main__detail-blog-content p {
  margin: 17px 0px;
}
.main__detail-blog-content p:first-child {
  margin-top: 0px;
}
.main__figure-img figcaption {
  text-align: center;
  margin-top: 12px;
}
.main__detail-blog-author{
    display: block;
    text-align: right;
    font: 700 16px/22px RobotoB;
    color: #121212;
}
.main__detail-blog-social .main__detail-blog-share{
    margin-bottom: 0px;
    margin-right: 40px;
}
.main__detail-blog-social .main__detail-blog-share .main__btn-share:first-child{
    margin-right: 10px;
}
.main__detail-blog-list-social li{
    margin-right: 12px;
}
.main__detail-blog-list-social i{
    width: 22px;
    height: 22px;
    background-color: #BDBDBD;
    border-radius: 50%;
}
.main__same-category-news .main__category-title-wrap{
    padding: 16px 0px;
}
.main__same-category-news .main__grid-3-cols{
    padding-bottom: 12px;
}
.main__hot-top-news{
    border-bottom: 3px solid #147ade;
    padding-bottom: 36px;
}
.main__detail-blog-new-listing{
    margin-bottom: 30px;
}
.main__detail-blog-keywords a, .main__detail-blog-keywords b{
  font: 500 14px/19px RobotoM;
  color: #454545;
  display: inline-block;
}
.main__figure-img figcaption{
  font: 500 14px/19px RobotoM; 
}