* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: 'Roboto';
  src:  url('../font/Roboto-Regular.ttf') format('truetype');
  src: 
  url('../font/Roboto-Regular.eot'),
  url('../font/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
      url('../font/Roboto-Regular.woff2') format('woff2'),
      url('../font/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF';
  src:  url('../font/FontsFree-Net-SFProDisplay-Regular.ttf') format('truetype');
  src: url('../font/SFProDisplay-Regular.eot'),
 url('../font/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
      url('../font/SFProDisplay-Regular.woff2') format('woff2'),
      url('../font/SFProDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'NSB';
  src: url('../font/NotoSerif-Bold.ttf') format('truetype');
  src: url('../font/NotoSerif-Bold.eot'),
   url('../font/NotoSerif-Bold.eot?#iefix') format('embedded-opentype'),
      url('../font/NotoSerif-Bold.woff2') format('woff2'),
      url('../font/NotoSerif-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NSR';
  src: url('../font/NotoSerif-Regular.ttf') format('truetype');
  src:  url('../fontNotoSerif.eot'),
       url('../fontNotoSerif.eot?#iefix') format('embedded-opentype'),
      url('../fontNotoSerif.woff2') format('woff2'),
      url('../font/NotoSerif.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MW';
  src:  url('../font/Merriweather-Bold.ttf') format('truetype');
  src:url('../font/Merriweather-Bold.eot'), 
  url('../font/Merriweather-Bold.eot?#iefix') format('embedded-opentype'),
      url('../font/Merriweather-Bold.woff2') format('woff2'),
      url('../font/Merriweather-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
body {
  font: 400 14px/20px Roboto;
  color: #454545;
  min-width: fit-content;
}
.container {
  margin: 0 auto;
  width: 1040px;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  display: block;
}
img{
  display: block;
}
.sprite {
  background-image: url(../image/spritesheet.png);
  background-repeat: no-repeat;
  display: inline-block;
}
.sprite-Economy {
  width: 20px;
  height: 20px;
  background-position: -5px -5px;
}
.sprite-Group {
  width: 14px;
  height: 4px;
  background-position: -35px -5px;
}
.sprite-Law {
  width: 20px;
  height: 20px;
  background-position: -59px -5px;
}
.sprite-chevron-compact-down {
  width: 10px;
  height: 6px;
  background-position: -89px -5px;
}
.sprite-clock {
  width: 15px;
  height: 15px;
  background-position: -109px -5px;
}
.sprite-eMagazine {
  width: 94px;
  height: 18px;
  background-position: -89px -30px;
}
.sprite-enterprise {
  width: 18px;
  height: 18px;
  background-position: -193px -5px;
}
.sprite-evelope {
  width: 12px;
  height: 9px;
  background-position: -128px 1px;
}
.sprite-event {
  width: 18px;
  height: 18px;
  background-position: -193px -33px;
}
.sprite-facebook {
  width: 5px;
  height: 9px;
  background-position: -152.5px -2.5px;
}
.sprite-home {
  width: 19px;
  height: 15px;
  background-position: -5px -61px;
}
.sprite-icon-close {
  width: 17px;
  height: 17px;
  background-position: -34px -61px;
}
.sprite-icon-emagazine {
  width: 18px;
  height: 18px;
  background-position: -61px -61px;
}
.sprite-icon-image {
  width: 16px;
  height: 16px;
  background-position: -89px -61px;
}
.sprite-icon-infographic {
  width: 16px;
  height: 16px;
  background-position: -115px -61px;
}
.sprite-icon-print-emagazine {
  width: 18px;
  height: 18px;
  background-position: -141px -61px;
}
.sprite-icon-video {
  width: 16px;
  height: 16px;
  background-position: -169px -61px;
}
.sprite-icon_image {
  width: 16px;
  height: 16px;
  background-position: -195px -61px;
}
.sprite-icon_infographic {
  width: 16px;
  height: 16px;
  background-position: -5px -87px;
}
.sprite-international {
  width: 20px;
  height: 20px;
  background-position: -89px -87px;
}
.sprite-lighting {
  width: 10px;
  height: 15px;
  background-position: -171px -5px;
}
.sprite-like {
  width: 10px;
  height: 11px;
  background-position: -35px -33px;
}
.sprite-list {
  width: 18px;
  height: 14px;
  background-position: -169px -87px;
}
.sprite-logo {
  width: 188px;
  height: 42px;
  background-position: -5px -117px;
}
.sprite-logo-footer {
  width: 143px;
  height: 32px;
  background-position: -5px -169px;
}
.sprite-play {
  width: 24px;
  height: 24px;
  background-position: -158px -169px;
}
.sprite-play_white_big {
  width: 96px;
  height: 96px;
  background-position: -221px -5px;
}
.sprite-play_white_small {
  width: 48px;
  height: 48px;
  background-position: -203px -111px;
}
.sprite-search {
  width: 16px;
  height: 15px;
  background-position: -261px -111px;
}
.sprite-society {
  width: 20px;
  height: 20px;
  background-position: -287px -111px;
}
.sprite-twitter {
  width: 10px;
  height: 10px;
  background-position: -311px -105px;
}
.sprite-zing {
  width: 8px;
  height: 9px;
  background-position: -311px -125px;
}

.d-flex{
  display: flex;
}
.align-items-center{
  align-items: center;
}
.justify-content-between{
  justify-content: space-between;
}
.justify-content-start{
  justify-content: flex-start;
}
.flex-wrap{
  flex-wrap: wrap;
}
.text-uppercase{
  text-transform: uppercase;
}
.main__video, .home__category-list-news-item{
  border-top: 2px solid #147ADE;
}
.main__emagazine, .main__news-listing-item, .main__mr-news-item{
  border-bottom: 1px solid #E6E6E6;
}
.header__top-flex {
  padding: 35px 0px;
}
.header__tags {
  margin-right: 43px;
}
.header__tags li:not(:last-child) {
  margin-right: 12px;
}
.header__tags a {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 16px;
  background-color: #e6e6e6;
  color: #454545;
}
.header__navbar {
  background-color: #095aaa;
  color: #e6e6e6;
  font-weight: 500;
}
.main__navbar-menu a {
  display: inline-block;
  padding: 10px 11px;
  color: #e6e6e6;
  line-height: 19px;
}
.header .main__navbar-menu a.active {
  background-color: #0b4888;
  color: #ffffff;
}
.header__navbar-flex {
  position: relative;
  justify-content: space-between;
  align-items: center;
}
.header__menu-toggle{
  display: none;
  position: absolute;
  top: 39px;
  left: 0px;
  width: 100%;
  padding: 20px;
  box-shadow: 0px 4px 12px 0px #00000033;
  background-color: #FFFFFF;
}
.is-active .header__menu-toggle{
  display: block;
}
.is-active .header__icon-list{
  display: none;
}
.is-active .header__icon-close{
  display: flex;
  justify-content: center;
}
.header__icon-close{
  display: none;
  width: 39px;
  height: 39px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  text-align: center;
  line-height: 39px;
}
.header__category-list{
  padding-bottom: 30px;
  border-bottom: 1px solid #E0E0E0;
}
.header__cat-item-name{
  font: 600 14/17px SF;
  color: #147ade;
  text-transform: uppercase;
  margin-bottom: 9px;
}
.header__cat-item-link li a{
  font: 500 12px/18px SF;
  margin-bottom: 6px;
  color:  #616161;
}
.header__cat-item-link li:last-child a{
  margin-bottom: 0;
}
.header__cat-item{
  width: 130px;
}
.header__media-list{
  margin-top: 16px;
}
.header__media-list li a{
  font: 500 14px/17px SF;
  margin-right: 60px;
  color: #616161;
  text-transform: uppercase;
}
.header__media-icon{
  margin-right: 8px;
}
.header__navbar-search a{
  display: flex;
}
.main__navbar-icon {
  margin-right: 6px;
}
.main__top-news {
  padding: 24px 0px 34px 0px;
}
.main__hot-category-news {
  width: 243px;
  padding-right: 15px;
}
.main__hc-news-item:not(:last-child) {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #e6e6e6;
}
.main__news-category {
  margin-bottom: 10px;
  font: 500 11px/16px Roboto;
  letter-spacing: calc(11px * 0.03);
  color: #147ade;
  text-transform: uppercase;
}
.main__hc-news-category {
  margin-bottom: 7px;
}
.main__hc-news-title {
  font: 700 16px/20px Roboto;
  color: #121212;
}
.main__hot-news-aside .main__hc-news-title{
  color: #454545;
  line-height: 22px;
}
.main__hightlight-news{
  border-right: 1px solid #e6e6e6;
  padding-right: 15px;
}
.main__hightlight-news-pcenter{
  width: 482px;
  border-left: 1px solid #e6e6e6;
  padding-left: 15px;
}
.main__hightlight-news-pleft{
  width: 467px;
}
.main__hightlight-news-title{
  font: 700 24px/32px NSB;
  color: #121212;
  margin-bottom: 13px;
}
.main__hl-news-img {
  width: 452px;
  height: 283px;
  margin-bottom: 14px;
}
.main__hot-news {
  width: 315px;
  padding-left: 15px;
}
.main__hot-news-item:not(:last-child) {
  padding-bottom: 35px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
}
.main__hot-news-aside .main__hot-news-item:not(:last-child){
  padding-bottom: 12px;
  margin-bottom: 16px;
}
.main__hni-content {
  padding-left: 12px;
}
.main__hni-title {
  font: 700 19px/26px Roboto;
  color: #121212;
  margin-bottom: 12px;
}
.main__hni-big-img{
  margin-bottom: 12px;
}
.main__dots-list-item {
  border-bottom: 1px dashed #bdbdbd;
  margin-bottom: 1px;
}
.main__aside-layout-left {
  width: 710px;
}
.main__aside-layout-right {
  padding-top: 18px;
  width: 300px;
  margin-left: 30px;
}
.main__economic-indicators-wrap{
  padding: 15px;
  border: 1px solid #E6E6E6;
  border-radius: 3px;
}
.home__economic-tab a{
  font-size: 14px;
  color: #8b8d93;
  padding: 8px 0px;
}
.home__economic-tab a.active{
  color: #147ade;
  border-bottom: 3px solid #147ade;
}
.main__economic-tab-content-row{
  padding: 8px 0px;
  border-bottom: 1px solid #E6E6E6;
}
.main__economic-tab-content-row:last-child{
  border: none;
  padding-bottom: 0px;
}
.economic-tab-name{
  width: 63px;
}
.main__economic-tab-fullname , .main__economic-tab-abbr-name{
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main__economic-tab-abbr-name{
  padding-right: 4px;
  color: #464952;
  font-size: 16px;
}
.main__economic-tab-fullname{
  font-size: 12px;
  color: #9699a1;
}
.main__economic-tab-exchange-rate{
  font-size: 16px;
  color: #464952;
  width: 107px;
  text-align: right;
}
.main__economic-tab-change{
  font-size: 15px;
  width: calc(100% - 107px - 63px);
  text-align: right;
}
.main__economic-tab-change--down{
  color: #f35a57;
}
.main__category-title-wrap {
  padding: 12px 0px;
  justify-content: space-between;
}
.main__category-title-name {
  font: 700 18px/25px Roboto;
  color: #147ade;
  margin-bottom: 12px;
  
}
.main__category-title-wrap .main__category-title-name{
  margin-bottom: 0;
}
.main__category-title-nav li a {
  padding: 0px 12px;
  color: #454545;
  font: 400 11px/16px Roboto;
}
.main__category-title-nav li:not(:last-child) a {
  border-right: 1px solid #E6E6E6;
}
.main__grid-3-cols {
  border-bottom: 3px solid #147ade;
}
.main__title-icon {
  margin-right: 8px;
}
.main__grid-cols-item {
  width: 218px;
  margin-bottom: 24px;
}
.main__item-cols-img {
  width: 100%;
  height: 136px;
  margin-bottom: 12px;
}
.main__item-cols-title {
  font: 700 16px/22px Roboto;
  color: #121212;
}
.main__news-listing-item{
  padding: 24px 0px;
}
.main__nl-item-content{
  margin-left: 20px;
}
.main__nl-item-title{
  font: 700 22px/28px Roboto;
  color: #121212;
  margin-bottom: 10px;
}
.main__emagazine{
  border-top: 1px solid #E6E6E6;
}
.main__emagazine-left{
  width: 440px;
  padding: 12px 20px 16px 0px;
}
.main__emagazine-listing-item{
  width: 200px;
  margin-bottom: 15px;
}
.main__el-item-img{
  position: relative;
  margin-bottom: 8px;
}
.main__el-icon{
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.main__el-item-title{
  color: #121212;
  font: 700 16px/22px Roboto;
}
.main__emagazine-right{
  width: calc(100% - 440px);
  padding: 12px 0px 16px 20px;
  border-left: 1px solid #E6E6E6;
}
.main__mr-news-item:first-child{
  padding-top: 0;
}
.main__mr-news-item:last-child{
  border-bottom: none;
}
.main__mr-news-item{
  padding: 16px 0px;
}
.main__mr-news-item a, .main__mr-news-item span{
  font: 500 14px/19px Roboto;
}
.main__mr-item-no{
  color: #147ADE;
  width: 19px;
}
.main__mr-item-title{
  width: calc(100% - 95px);
  margin-left: 6px;
  color: #121212;
}
.main__mr-item-img{
  width: 60px;
  margin-left: 10px;
}
.main__viewmore-btn{
  width: 104px;
  margin: 24px auto 0 auto;
  padding: 7px 13px;
  border-radius: 4px;
  font: 500 14px/19px Roboto;
  color: #FFFFFF;
  background-color: #147ADE;
}
.main__viewmore-btn span{
  margin-right: 4px;
}
.main__video{
  padding: 12px 0px 30px 0px;
  margin: 30px 0px 28px 0px;
}
.main__video-title{
  font: 700 24px/32px Roboto;
  color: #147ADE;
  margin-bottom: 16px;
  margin-top: 6px;
}
.main__hightlight-video{
  width: 530px;
  margin-right: 24px;
}
.main__hightlight-video .main__video-title{
  margin-top: 12px;
}
.main__video-img{
  position: relative;
}
.main__video-btn{
  position: absolute;
  top: calc(50% - 48px);
  left: calc(50% - 48px);
}
.main__video-grid{
  width: 486px;
}
.main__video-item{
  width: 231px;
  margin-bottom: 21px;
}
.main__video-item:last-child, .main__video-item:nth-child(3){
  margin-bottom: 0;
}
.main__video-time{
  position: absolute;
  bottom: 20px;
  right: 16px;
  font: 500 15px/17px SF;
  color: #ffffff;
  display: inline-block;
  padding: 3px 9px;
  background-color: #121212;
}
.main__video-title{
  font: 700 22px/28px Roboto;
  color: #121212;
}
.main__video-item .main__video-btn{
  top: calc(50% - 24px);
  left: calc(50% - 24px);
}
.main__video-item .main__video-time{
  bottom: 16px;
  font: 500 13px/15px SF;
}
.main__video-item .main__video-title{
  font: 700 16px/22px Roboto;
}
.main__grid-2-cols{
  width: 492px;
  padding-right: 28px;
}
.main__category-list-news{
  padding-bottom: 30px;
}
.main__category-list-news .main__most-read-listing{
  width: 218px;
}
.main__category-list-news .main__mr-item-title{
  width: 100%;
}
.main__category-list-news .main__item-cols-title{
  margin-bottom: 12px;
}
.footer{
  margin-top: 20px;
}
.footer, .footer a{
  background-color: #095AAA;
  color: #FFFFFF;
}
.footer__devide{
  height: 1px;
  background-color: #F9F9F9;
}
.footer__main-flex{
  padding: 30px 0px;
}
.footer__content-col{
  padding: 0px 13px;
  width: 430px ;
}
.footer__logo{
  width: 180px;
  padding-left: 0px;
}
.footer-company{
  font: 700 16px/22px MW;
  margin-bottom: 14px;
}
.footer__company-info{
  margin-bottom: 2px;
  font: 400 13px/24px Roboto;
}
.footer__company-info span{
  font-weight: 700;
}


